<div class="media-toolbar mb-6">
  <md-media-toolbar
    [filterValue]="mediaFacade.sortingQuery()"
    [filterItems]="mediaFacade.mediaFilterItems()"
    [filteredCount]="mediaFacade.filteredMediaItemsCount()"
    [totalCount]="mediaFacade.totalMediaItemsCount()"
    [searchValue]="mediaFacade.searchQuery()"
    [statusItems]="mediaFacade.mediaStatuses()"
    [statusValue]="mediaFacade.statusQuery()"
    (filterChanged)="onFilterChanged($event)"
    (searchChanged)="onSearchChanged($event)"
    (statusChanged)="onStatusChanged($event)"
  />
</div>
<div class="media-grid">
  @if (mediaFacade.isMediaLoading()) {
    <md-media-grid-skeleton />
  } @else if (mediaFacade.mediaError()) {
    <md-media-error-state (retryClicked)="onRetryClicked()" />
  } @else {
    <md-media-grid
      [items]="mediaFacade.visibleMediaItems()"
      [statusItems]="mediaFacade.mediaStatuses()"
    />
    @if (mediaFacade.showLoadMore()) {
      <md-media-load-more (loadMoreClick)="onLoadMoreClicked()" />
    }
  }
</div>
