<div class="media-toolbar mb-6">
  <md-media-toolbar
    [searchValue]="mediaFacade.searchQuery()"
    [totalCount]="mediaFacade.totalMediaItemsCount()"
    [filteredCount]="mediaFacade.filteredMediaItemsCount()"
    (searchChanged)="onSearchChanged($event)"
  />
</div>
<div class="media-grid">
  @if (mediaFacade.isLoading()) {
    <md-media-grid-skeleton />
  }
  @if (mediaFacade.error()) {
    <md-media-error-state (retryClicked)="onRetryClicked()" />
  } @else {
    <md-media-grid [items]="mediaFacade.filteredMediaItems()" />
  }
</div>
