<div class="flex justify-between">
  <div class="left-side flex-1">
    <md-media-search (searchChanged)="changedSearchValue($event)" [searchValue]="searchValue()" />
    <md-media-total-count [filteredCount]="filteredCount()" [totalCount]="totalCount()" />
  </div>
  <div class="right-side flex gap-4">
    <md-media-select
      (selectChanged)="changedFilterValue($event)"
      [selectValue]="filterValue()"
      [selectItems]="filterItems()"
    />
    <md-media-select
      (selectChanged)="changedStatusValue($event)"
      [selectValue]="statusValue()"
      [selectItems]="statusItemsForSelect()"
      [showAllOptions]="{ show: true, optionText: 'statuses' }"
    />
  </div>
</div>
